<div class="container">
    <div class="photo">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="imagem ilustrativa">
    </div>
    <div class="title">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="description">
        <p><a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sequi optio eum vero excepturi necessitatibus soluta itaque repellendus, nihil atque distinctio repellat doloremque accusamus. Porro illo in rerum eveniet consectetur?</a></p>
    </div>
</div>
