.container__smallCard{
    /* border: solid white 1px; */

    width:900px;
    margin-bottom: 15px;
   
}

.container__content_smallCard{
    display: flex;
    flex-direction: row;
}

.photo__smallCard > img{
    width: 300px;
    min-width: 300px;
    margin-right: 30px;
}

.title__smallCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__separator__smallCard{
    margin-top: 10px;
}
.container__separator__smallCard > hr{
    border-color: #ffffff1f;
}