
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card id="1" photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp" cardTitle="NOVO HOMEM DE FERRO EM 3D" cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sequi optio eum vero excepturi necessitatibus soluta itaque repellendus, nihil atque distinctio repellat doloremque accusamus. Porro illo in rerum eveniet consectetur?"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card id="2" photoCover="https://tm.ibxk.com.br/2022/05/04/04181551056727.jpg?ims=1200x675" cardTitle="Nova Série anunciada no Disney +"></app-small-card>
        <app-small-card id="3" photoCover="https://www.rbsdirect.com.br/filestore/8/2/6/3/8/8/4_05485adf959862b/4883628_9b10c6908cb3cc6.jpg?w=700" cardTitle="Jonathan Majors é demitido pela Marvel após ser considerado culpado por agressão e assédio"></app-small-card>
        <app-small-card id="4" photoCover="https://lumiere-a.akamaihd.net/v1/images/infinitywarthanos_70feb51d.jpeg?region=63,0,1899,1068&width=960" cardTitle='RBS TV exibe "Vingadores: Ultimato" neste fim de semana'></app-small-card>
    </div>
</div>


